/*
Project Name: Monthly Resolutions
Course: One Month HTML
Author: Mark MacKavanagh | @mackdad2013
Description: Reconstruction of blog page created by instructor Chris Castiglione
*/

/*-----------------------------------------------------------------------------
01=BASE
-----------------------------------------------------------------------------*/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clear {
  clear: both;
}

/*-----------------------------------------------------------------------------
02=LAYOUT
-----------------------------------------------------------------------------*/

#container {
  width: 1000px;
  margin: 0 auto 0 auto;
}

body {
  background: url("../images/notebook.png"); /* add a fallback color of #d6d6d6 */
  color: #000000;
  font-family: "Lato", sans-serif;
  line-height: 1.7; /* line-height is unit-less */
  font-size: 100%;
}

h1,
h5 {
  margin: 0;
}

a {
  color: red;
  text-decoration: none;
}

#header {
  background: clear;
  padding: 5px;
}

#main {
  background: white;
  width: 580px;
  float: left;
  padding: 15px;
}

#sidebar {
  background: white;
  width: 350px;
  float: left;
  padding: 25px;
  margin-left: 15px;
}

#footer {
  background: clear;
  width: 500px;
  padding: 5px;
}

blockquote {
  font-size: 20px;

  margin: 0;
  overflow: hidden;
  padding: 0 0 0 26px;
  position: relative;
}
blockquote:before {
  content: "";
  border-left: 6px solid gray;
  position: absolute;
  bottom: 14px;
  top: 13px;
  left: 0;
}
/*-----------------------------------------------------------------------------
03=MAIN
-----------------------------------------------------------------------------*/

.alignleft {
  float: left;
  margin: 0 15px 5px 0;
}

.alignright {
  float: right;
  margin: 0 0 0 0;
}

.circle {
  border-radius: 50%;
}

.height {
  line-height: 10px;
}
